<div class="container">
  <p>
  <form role="form" ng-submit="searchItem()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="input" placeholder="Welchen Artikel suchen wir?" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Suche">
        </span>
      </div>
      <br>
      <div>
      </div>
    </div>
  </form>    
  </p>
  
<!--<p class="input-group" ng-repeat="result in results">-->
<p>
<h5>Ergebnissen in: {{searchword}}</h5>
  <div class="panel panel-primary" ng-repeat="result in results">
    <div class="panel-heading">Bezeichnung: {{result.bezeichnung}}</div>
    <div class="panel-body">
      <h6>Artikel ID: {{result.id}}</h6>
      <h6>Preis: {{result.preis}} €</h6>
      <h6>Rating: {{result.rating}}</h6>
    </div>
  </div>
  
    <!--id: {{result.id}}, bezeichnung: {{result.bezeichnung}}-->
</p>

</div>
